* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}

img {
  border-radius: 1rem;
  width: 752px;
  height: 400px;
}

main {
  padding: 1.5rem;
}

section + section {
  margin-top: 1.5rem;
}

#about p + p {
  margin-top: .75rem;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: .25rem;
  line-height: 150%;
}

ul {
  padding-left: 1.5rem;
}

p {
  color: #573A37;
}